html {
  background-color: rgb(224, 224, 224);
}

.App {
  background-color: rgb(224, 224, 224);
  font-family: "Quicksand", sans-serif;
}

.travellet {
  text-align: center;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 40px;
  min-height: 110vh;
  width: 60vh;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: rgb(234, 234, 234);
  letter-spacing: 1.2px;
}

.menu {
  background-color: rgb(42, 41, 46);
  height: 60px;
  border-radius: 30px 30px 0 0;
  color: white;
}
.title {
  margin: 30px;
  text-align: left;
  font-size: 30px;
}

ul {
  list-style: none;
  padding: 0px !important;
}

.button-list {
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 14px;
  color: white;
}

.wallet-list {
  background-color: rgba(240, 240, 240, 0.973);
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  padding-bottom: 5px;
}

.wallet-list h2 {
  font-size: 15px;
  font-weight: bold;
}

.wallet-list li {
  font-size: 12px;
  padding: 5px;
  background-color: rgb(201, 199, 199);
  color: white;
}

.link {
  text-decoration: none;
  color: black;
}
.wallet-buttons {
  display: flex;
  justify-content: center;
}

.wallet-buttons button {
  font-size: 10px;
  margin: 6px;
  font-weight: bold;
  letter-spacing: 0.7px;
}

li {
  margin: 10px;
}

.transaction {
  font-size: 9px;
  text-align: left;
}

.transaction-list {
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  background-color: rgba(240, 240, 240, 0.973);
}

.wallet-detail,
.new-wallet,
.add-transaction h2 {
  margin: 20px;
  text-align: left;
}

.wallet-overview {
  background-color: rgba(40, 148, 58, 0.973);
  border-radius: 10px;
  color: rgba(240, 240, 240, 0.973);
  font-weight: bold;
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-size: 20px;
}

.wallet-overview h2 {
  text-align: center;
  font-size: 16px;
}

.btn-success {
  background-color: rgba(40, 148, 58, 0.973) !important;
  border-color: transparent !important;
}

.new-transaction {
  text-align: center;
  margin: 20px;
  font-size: 13px;
  display: flex;
  justify-content: right;
}

.btn-light {
  font-size: 15px !important;
  padding: 8px 12px !important;
  background-color: #ffc107 !important;
  border: none !important;
}

.new-transaction p {
  position: absolute;
  top: 60%;
  left: 49%;
  font-weight: bold;
}

.menu-nav {
  position: absolute;
  top: 11%;
  left: 26%;
  color: rgba(240, 240, 240, 0.973);
  font-weight: bolder;
  font-size: 18px;
  text-decoration: none;
}

.nav {
}
/* .menu-nav :hover {
  color: red;
  font-size: 300px;
} */

.form {
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: rgba(240, 240, 240, 0.973);
  font-size: 12px;
  text-align: left;
}

.form input,
select {
  display: block;
  border-radius: 10px;
  margin: 0 auto;
  height: 40px;
  border: transparent;
  text-align: center;
  margin: 10px;
}

.form input {
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  width: 250px;
  margin-bottom: 20px;
}

.form select {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 250px;
}

.form label {
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  margin-bottom: 5px;
}

.currency-label {
  text-align: center;
}
.new-button {
  font-weight: bold !important;
}

.date {
  text-align: center;
  font-size: 10px;
}
