html {
  background-color: rgb(224, 224, 224);
}

.App {
  background-color: rgb(224, 224, 224);
  font-family: "Quicksand", sans-serif;
  margin: auto 0;
}

.travellet {
  text-align: center;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 40px;
  /* min-height: 110vh; */
  width: 365px;
  height: 700px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: rgb(234, 234, 234);
  letter-spacing: 1.2px;
}

.menu {
  background-color: rgb(42, 41, 46);
  height: 60px;
  border-radius: 30px 30px 0 0;
  color: white;
}
.title {
  margin: 30px;
  text-align: left;
  font-size: 30px;
}

ul {
  list-style: none;
  padding: 0px !important;
}

.button-list {
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 14px;
  color: white;
}

.wallet-list {
  background-color: rgba(240, 240, 240, 0.973);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  padding-bottom: 5px;
}

.wallet-list h2 {
  font-size: 15px;
  font-weight: bold;
}

.wallet-list li {
  font-size: 12px;
  padding: 5px 1px 5px 5px;
  background-color: rgb(201, 199, 199);
  color: white;
  width: 250px;
  margin: 17px auto;
}

.link {
  text-decoration: none;
  color: black;
}
.wallet-buttons {
  display: flex;
  justify-content: center;
}

.wallet-buttons button {
  font-size: 10px;
  margin: 6px;
  font-weight: bold;
  letter-spacing: 0.7px;
}

li {
  margin: 10px;
}

.transaction {
  font-size: 9px;
  text-align: left;
}

.transaction-list {
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  background-color: rgba(240, 240, 240, 0.973);
}

.wallet-detail,
.new-wallet,
.add-transaction h2 {
  margin: 20px;
  text-align: left;
  margin-top: -5px;
}

.wallet-overview {
  background-color: rgba(40, 148, 58, 0.973);
  border-radius: 10px;
  color: rgba(240, 240, 240, 0.973);
  font-weight: bold;
  text-align: center;
  padding: 12px;
  margin: 20px;
  padding-bottom: 5px;
  font-size: 20px;
}

.wallet-overview h2 {
  text-align: center;
  font-size: 16px;
}

.btn-success {
  background-color: rgba(40, 148, 58, 0.973) !important;
  border-color: transparent !important;
}

.new-transaction {
  text-align: center;
  margin: 20px;
  font-size: 13px;
  display: flex;
  justify-content: right;
}

.btn-light {
  font-size: 15px !important;
  padding: 8px 12px !important;
  background-color: #ffc107 !important;
  border: none !important;
}

.new-transaction p {
  font-weight: bold;
  margin: auto 0;
  padding-right: 10px;
}

.menu-nav,
.menu-nav-exchange {
  color: rgba(240, 240, 240, 0.973);
  font-weight: bolder;
  font-size: 18px;
  text-decoration: none;
  position: relative;
  top: -40px;
}

.menu-nav-exchange {
  top: -100px;
  left: 20px;
}

.exp-nav {
  color: rgba(240, 240, 240, 0.973);
  font-weight: bolder;
  font-size: 18px;
  text-decoration: none;
  position: relative;
  top: -45px;
  left: 20px;
}

.form {
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: rgba(240, 240, 240, 0.973);
  font-size: 12px;
  text-align: left;
}

.form input,
select {
  display: block;
  border-radius: 10px;
  margin: 0 auto;
  height: 40px;
  border: transparent;
  text-align: center;
  margin: 10px;
}

.form input {
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  width: 250px;
  margin-bottom: 20px;
}

.amount {
  border-radius: 10px !important;
  border: transparent;
  height: 40px;
  margin: 10px;
  text-align: center;
  background-color: rgba(240, 240, 240, 0.973);
}

.amount ::placeholder {
  color: red;
}
.form select {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 250px;
}

.form label {
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  margin-bottom: 5px;
}

.currency-label {
  text-align: center;
}
.new-button {
  font-weight: bold !important;
}

.date {
  text-align: center;
  font-size: 10px;
}

.cityName {
  margin-left: 20px;
  margin-bottom: 30px;
  margin-top: -10px;
}

.exchange {
  margin-top: 20px;
  text-align: left;
  margin-left: 30px;
}

.exchange-display {
  text-align: left;
  margin: 0 40px;
  border: 1px solid transparent;
  background-color: #ffc107;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
}

.delete-icon {
  color: #ffc107;
}

.button-delete button {
  background-color: rgb(234, 234, 234);
  padding-left: 275px;
  border: none;
}

.delete-icon:hover {
  color: rgba(40, 148, 58, 0.973);
}

.button-delete .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(40, 148, 58, 0.973);
  opacity: 50%;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  font-size: 14px;
  font-weight: bold;
}

.button-delete:hover .tooltiptext {
  visibility: visible;
}

.trans-icon {
  opacity: 1%;
  color: rgba(40, 148, 58, 0.973);
}

.trans-icon:hover {
  /* visibility: visible; */
  opacity: 100%;
}

.modal-background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-container {
  border: none;
  border-radius: 10px;
  height: 150px;
  width: 285px;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: 180px;
  background-color: rgba(40, 148, 58, 0.973);
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.close-modal button {
  color: green;
  border: 1px solid transparent;
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
  float: right;
  width: 50px;
  font-size: 28px;
  font-weight: bold;
  font-size: 18px;
  margin: 5px;
  margin-bottom: 18px;
}

.modal-content {
  background-color: rgba(40, 148, 58, 0.973) !important;
  border: none !important;
}

/* .delete-modal {
  background-color: #ffc107 !important;
  color: rgba(40, 148, 58, 0.973);
}
 */

.delete-content {
  padding-top: 60px;
}

.calculator {
  border: 1px solid black;
}

.calculator form {
  border: 1px solid red;
  text-align: center;
}

.calculator-currency select {
  margin: 0 auto;
}

.more-currency {
  margin-top: 30px;
}

.more {
  font-weight: bolder !important;
}
